% This is an example of a main.tex file for this LaTeX project. You can copy its contents and modify the \input.
% the main file should be named main.tex

\documentclass{article} % Defines the document type as a standard article; mainly used for essays, reports, homework, and short academic documents.

\usepackage{graphicx} % Enables image insertion and resizing with \includegraphics; mainly used for figures, diagrams, logos, and screenshots.

\usepackage[utf8]{inputenc} % Allows the source file to use UTF-8 characters; mainly useful when typing accents and special characters directly, such as á, ç, ã, é.

\usepackage{amsmath, amssymb, amsthm} % Adds advanced math environments, symbols, and theorem tools; mainly used for equations, proofs, definitions, lemmas, and theorems.

\usepackage[T1]{fontenc} % Selects the T1 text font encoding; mainly used for better accented characters, hyphenation, and copy/paste behavior in European languages.

\usepackage{enumitem} % Provides control over list formatting; mainly used for customizing itemize, enumerate, and description lists with options like label, leftmargin, itemsep, etc.
\usepackage{tcolorbox} % For the definition callout box; mainly used to create colored boxes for definitions, theorems, examples, and important notes.

\begin{document}

\input{some-folder/your-file.tex} % This line includes the content of your-file.tex located in some-folder; replace with the actual path and filename of your content.

\end{document}